# wait for fallbacks
fallback=Fonts_Font_0,pelagiad
fallback=Fonts_Font_2,OMWAyembedt
fallback=Blood_Texture_3,Blood_Energy.dds
fallback=Blood_Texture_4,Blood_Blue.dds
fallback=Blood_Texture_5,Blood_Green.dds
fallback=Blood_Texture_6,Blood_Dark.dds
fallback=Blood_Texture_7,Blood_Orange.dds